<!DOCTYPE html>

<html>
    <head>
        <title>Demo: TODO</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>

    <body>

    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">League of Legends Stat Tracker</h1>
      <p><mark>Group Activity 4 Checkpoint</mark></p>
    </main>
    

    <div class="container">    
        <form>
            <label for="sname">Summoner Name:</label><br>
            <input type="text" id="sname" name="sname"><br>

            <label for="kills">Kills:</label><br>
            <input type="text" id="kills" name="kills">

            <label for="deaths">Deaths:</label><br>
            <input type="text" id="deaths" name="deaths">

            <label for="assists">Assists:</label><br>
            <input type="text" id="assists" name="assists">

            <label for="rank">Rank:</label><br>
            <input type="text" id="rank" name="rank">

            <label for="kp">KillParticipation:</label><br>
            <input type="text" id="kp" name="kp">

            <label for="cs">CreepScore:</label><br>
            <input type="text" id="cs" name="cs">

            <label for="gold">Gold:</label><br>
            <input type="text" id="gold" name="gold">

            <label for="damage">Damage:</label><br>
            <input type="text" id="damage" name="damage">
        </form>
        <!-- Button trigger modal -->
        <div style="text-align: left;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Task" href="http://127.0.0.1:5000/create/+document.getElementById(delete).value">Add Input</button>
        </div>
        <form>
            <label for="ukn">Update Kill Number:</label><br>
            <input type="text" id="ukn" name="ukn"><br>
        </form>
        <div style="text-align: left;">
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Task">Update Top</button>
        </div>
        <form>
            <label for="delete">Delete Value:</label><br>
            <input type="text" id="delete" name="delete"><br>
        </form>

        <div style="text-align: left;">
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Task" href="http://127.0.0.1:5000/delete/+document.getElementById(delete).value">Delete Top</button>
        </div>

        <div style="text-align: left;">
            <a href="/advance_query1">AdvancedQuery1</a>
        </div>

        <div style="text-align: left;">
            <a href="/advance_query2">AdvancedQuery2</a>
        </div>


    </div>

    <!--Todo Table-->
    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th class="task">InputNumber</th>
            <th class="task">SummonerName</th>
            <th class="status">Kills</th>
            <th class="update">Deaths</th>
            <th class="update">Assists</th>
            <th class="update">Rank</th>
            <th class="update">KillParticipation</th>
            <th class="update">CreepScore</th>
            <th class="update">Gold</th>
            <th class="update">Damage</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.InputNumber}}</td>
                <td>{{item.SummonerName}}</td>
                <td>{{item.Kills}}</td>
                <td>{{item.Deaths}}</td>
                <td>{{item.Assists}}</td>
                <td>{{item.Rank}}</td>
                <td>{{item.KillParticipation}}</td>
                <td>{{item.CreepScore}}</td>
                <td>{{item.Gold}}</td>
                <td>{{item.Damage}}</td>
                
                <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="{{item.id}}" data-content="{{item.task}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>

                <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.id}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    </div>

  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>